/* styles.css */
body {
    font-family: 'Noto Sans', "Tinos", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("back.png");
    text-align: center;
}

.navbar {
    background-color: #4CAF50; /* Placeholder color */
    padding: 10px;
    text-align: center;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.2s;
}    

.navbar a:hover {
    transform: scale(0.95);.
}

#para2 {
    font-size: 25px;
    font-weight: 450;
}
#card{
    padding: 20px;
    border-radius: 100px;
    border: darkred;
}
#contactinfo {
    
    font-family: "Noto Sans", sans-serif;
    font-weight:410 ;
    font-size:20px ;
}
#logo{
    align-content: center;
}
#spec{
    font-weight: 440;
    font-size: 23px;
}
#p1{
    font-weight: 540;
    font-size: 55px;
}
#prdtblue {
    background-image: url("back.png");

}
#abth {
    font-size: 400px;
}
